{% extends 'teacher/left_content.html' %}

{% load  staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block right_content %}
        <div id="content-block" class="col-sm-11 col-md-10">
            <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
                 data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
                 data-class-sm="navbar content-navbar navbar-default navbar-xs">
                <div class="navbar-header">
                    <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse">
                        欢迎您 {{ teacher_name }}
                    </a>
                </div>
            </div>
        </div>

{% endblock right_content %}



