<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="robots" content="NONE,NOARCHIVE"/>
    <title>学生信息 | 温县第一高级中学后台管理</title>


    <link href="{% static 'css/bootstrap.css' %}" type="text/css" media="screen" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" id="site-theme" href="{% static 'css/bootstrap-xadmin.css' %}"/>

    <link href="{% static 'css/font-awesome.css' %}" type="text/css" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/xadmin.main.css' %}" type="text/css" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/xadmin.plugins.css' %}" type="text/css" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/xadmin.responsive.css' %}" type="text/css" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/xadmin.form.css' %}" type="text/css" media="screen" rel="stylesheet"/>
    <link href="{% static 'css/xadmin.plugins.css' %}" type="text/css" media="screen" rel="stylesheet"/>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

{#    <script type="text/javascript" src="/xadmin/jsi18n/"></script>#}


</head>
<body class="change-list">

<!-- Header -->

<div id="top-nav" class="navbar navbar-xs navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">温县第一高级中学后台管理</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">

            <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    <strong>欢迎， {{ teacher_name }}</strong> <span class="caret"></span></a>
{#                <ul id="g-account-menu" class="dropdown-menu" role="menu">#}
{#                    <li><a href=""><i class="fa fa-key"></i> 更改密码</a></li>#}
{#                </ul>#}
            </li>

            <li><a href="{% url 'logout' %}"><i class="show-sm fa fa-sign-out"></i><span class="hide-sm">注销</span></a>
            </li>
        </ul>


    </div>
</div>

<div id="body-content" class="clearfix row">

    <div id="left-side" class="col-sm-1 col-md-2">
        <div class="panel-group hide-sm nav-sitemenu col-md-2" id="nav-accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-1">
                            <i class="fa-fw fa fa-lock"></i>
                            &nbsp;个人中心
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-1" class="list-group panel-collapse in" style="height: auto;">
                    <a href="{% url 'teacher:teacher_infoshow' %}" class="list-group-item">
                        <i class="fa-fw fa fa-circle-o"></i>
                        &nbsp;基本信息
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion"
                           href="#nav-panel-2">
                            <i class="fa-fw fa fa-group"></i>
                            &nbsp;学生管理
                        </a>
                    </h6>
                </div>
                <div id="nav-panel-2" class="list-group panel-collapse in" style="height: auto;">
                    <a href="{% url 'teacher:teacher_studentlist' %}" class="list-group-item">
                        <i class="fa-fw fa fa-circle-o"></i>
                        &nbsp;学生信息管理
                    </a>
                    <a href="{% url 'teacher:teacher_scorelist' %}" class="list-group-item">
                        <i class="fa-fw fa fa-circle-o"></i>
                        &nbsp;学生成绩管理
                    </a>
                    <a href="{% url 'teacher:teacher_classlist' %}" class="list-group-item">
                        <i class="fa-fw fa fa-circle-o"></i>
                        &nbsp;班级管理
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div id="content-block" class="col-sm-11 col-md-10">
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'teacher:teacher_index' %}">首页</a>
            </li>
            <li>
                学生信息表
            </li>
        </ul>
        <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
             data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
             data-class-sm="navbar content-navbar navbar-default navbar-xs">
            <div class="navbar-header">


                <button class="navbar-toggle pull-left" data-toggle="class" data-target="#body-content"
                        data-class-name="show_menu">
                    <i class="fa fa-list"></i>
                </button>

                <a href="" class="navbar-toggle pull-right"><i class="fa fa-plus"></i></a>

                <button class="navbar-toggle pull-right" data-toggle="collapse"
                        data-target=".content-navbar .navbar-collapse">
                    <i class="fa fa-filter"></i>
                </button>


                <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse">
                    学生信息表
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a id="drop-filter" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="fa fa-filter"></i> 过滤器
                            {% if filter_count %}
                            <span class="badge badge-success">{{ filter_count }}</span>
                            {% endif %}
                            <span class="caret"></span></a>
                            <ul id="filter-menu" class="dropdown-menu" role="menu" aria-labelledby="drop-filter">
                            {% if filter_count %}
                            <li><a href="?">
                                <i class="fa fa-trash-o"></i> 清除过滤器</a>
                            </li>
                                <li class="divider"></li>
                            {% endif %}

                            <li class="dropdown-submenu">
                                <a><i class="fa fa-filter text-muted"></i> 年级</a>
                                <ul class="dropdown-menu">
                                    <li {% if not grade_id %}class="active"{% endif %}>
                                        <a href="?{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">全部</a></li>
                                    {% for grade in grade_queryset %}
                                    <li {% ifequal grade_id grade.id|lower %}class="active"{% endifequal%}>
                                        <a
                                        href="?grade_id={{ grade.id }}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}"
                                        >{{ grade }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a><i class="fa fa-filter text-muted"></i> 班级</a>
                                <ul class="dropdown-menu">
                                    <li {% if not class_id %}class="active"{% endif %}>
                                        <a href="?{% if grade_id %}grade_id={{ grade_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">全部</a></li>
                                    {% for clas in class_filter_queryset %}
                                    <li {% ifequal class_id clas.id|lower %}class="active"{% endifequal%}>
                                        <a
                                        href="?{% if grade_id %}grade_id={{ grade_id }}{% endif %}&class_id={{ clas.id }}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}"
                                        >{{ clas }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a><i class="fa fa-filter text-muted"></i> 文理科</a>
                                <ul class="dropdown-menu">
                                    <li {% if not art_science %}class="active"{% endif %}>
                                        <a href="?{% if grade_id %}grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">全部</a>
                                    </li>
                                    <li {% ifequal art_science 'science' %}class="active"{% endifequal %}>
                                        <a href="?{% if grade_id %}grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}&art_science=science{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">理科</a>
                                    </li>
                                    <li {% ifequal art_science 'art' %}class="active"{% endifequal %}>
                                        <a href="?{% if grade_id %}grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}&art_science=art{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">文科</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a><i class="fa fa-filter text-muted"></i> 性别</a>
                                <ul class="dropdown-menu">
                                    <li {% if not gender %}class="active"{% endif %}>
                                        <a href="?{% if grade_id %}grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">全部</a>
                                    </li>
                                    <li {% ifequal gender 'male' %}class="active"{% endifequal%}>
                                        <a href="?{% if grade_id %}grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}&gender=male{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">男</a>
                                    </li>
                                    <li {% ifequal gender 'female' %}class="active"{% endifequal%}>
                                        <a href="?{% if grade_id %}grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}&gender=female{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">女</a>
                                    </li>

                                </ul>
                            </li>


{#                            <li class="dropdown-submenu filter-multiselect">#}
{#                                <a><i class="icon-filter text-muted"></i> 民族</a>#}
{#                                <ul class="dropdown-menu">#}
{##}
{#                                    <li class="active">#}
{#                                        <a href="">#}
{#                                            <input type="checkbox" checked="checked">#}
{#                                            全部#}
{#                                        </a>#}
{#                                    </li>#}
{##}
{#                                    <li>#}
{#                                        <a href="?_p_teacher__number__exact=1&amp;_p_nation__in=%E6%B1%89%E6%97%8F">#}
{#                                            <input type="checkbox">#}
{#                                            汉族#}
{#                                        </a>#}
{#                                    </li>#}
{##}
{#                                </ul>#}
{#                            </li>#}
                        </ul>
                    </li>
                </ul>


                <form class="navbar-form navbar-left" action="" method="get">
                    <div class="input-group search-group">
                        {% if q %}
                        <span class="input-group-btn"><a class="btn btn-default" href="?">x</a></span>
                        {% endif %}
                        <input id="searchbar" class="form-control" type="text" name="q" value="{% if q %}{{ q }}{% endif %}"
                               placeholder="搜索 学生或班主任姓名">
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i></button></span>
                    </div>
                </form>


{#                <div class="navbar-btn pull-right hide-xs">#}
{##}
{##}
{#                    <a href="/xadmin/students/studentinfo/add/" class="btn btn-primary"><i class="fa fa-plus"></i>#}
{#                        增加 学生信息表</a>#}
{##}
{##}
{#                </div>#}
            </div>
        </div>




        <ul class="pagination pagination-sm pagination-left pagination-inline">
            <li><span><span class="text-success">{{ student_queryset_count }}</span> 学生信息表</span></li>
        </ul>

        <form id="changelist-form">
            <div class="results table-responsive">


                <table class="table table-bordered table-striped table-hover">

                    <thead>
                    <tr>

                        <th scope="col" class="sortable">


                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                                    档案号
                                </a>
                            </div>

                        </th>
                        <th scope="col" class="sortable">


                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                                    姓名
                                </a>
                            </div>
                        </th>
                        <th scope="col" class="sortable">
                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                                    班主任编号
                                </a>
                            </div>

                        </th>
                        <th scope="col" class="sortable">


                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                                    性别
                                </a>

                            </div>

                        </th>
                        <th scope="col" class="sortable">
                             <div class="pull-right">
                                <a class="toggle" href="?year_join=-year_join{% if clas %}&clas={{ clas }}{% endif %}{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">
                                    {% ifequal year_join 'year_join' %}
                                    <i class="fa fa-sort-up"></i>
                                    {% endifequal %}
                                </a>
                                <a class="toggle" href="?year_join=year_join{% if clas %}&clas={{ clas }}{% endif %}{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">
                                    {% ifequal year_join '-year_join' %}
                                    <i class="fa fa-sort-down"></i>
                                    {% endifequal %}
                                </a>
                            </div>

                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    入学年份
                                </a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="?year_join=year_join{% if clas %}&clas={{ clas }}{% endif %}{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active">
                                        <i class="fa fa-caret-up"></i> 正序</a></li>

                                    <li><a href="?year_join=-year_join{% if clas %}&clas={{ clas }}{% endif %}{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active">
                                        <i class="fa fa-caret-down"></i> 倒序</a></li>


                                    <li {% if not year_join %}style="display: none"{% endif %}><a href="?{% if clas %}&clas={{ clas }}{% endif %}{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active">
                                        <i class="fa fa-times"></i> 取消排序</a></li>

                                </ul>
                            </div>

                        </th>
                        <th scope="col" class="sortable">

                            <div class="pull-right">
                                <a class="toggle" href="?{% if year_join %}year_join={{ year_join }}{% endif %}&clas=-clas{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">
                                    {% ifequal clas 'clas' %}
                                    <i class="fa fa-sort-up"></i>
                                    {% endifequal %}
                                </a>
                                <a class="toggle" href="?{% if year_join %}year_join={{ year_join }}{% endif %}&clas=clas{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">
                                    {% ifequal clas '-clas' %}
                                    <i class="fa fa-sort-down"></i>
                                    {% endifequal %}
                                </a>
                            </div>

                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    班级
                                </a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="?{% if year_join %}year_join={{ year_join }}{% endif %}&clas=clas{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active"><i
                                            class="fa fa-caret-up"></i> 正序</a></li>

                                    <li><a href="?{% if year_join %}year_join={{ year_join }}{% endif %}&clas=-clas{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active"><i
                                            class="fa fa-caret-down"></i> 倒序</a></li>

                                    <li {% if not clas %}style="display: none"{% endif %}><a href="?{% if year_join %}year_join={{ year_join }}{% endif %}{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active">
                                            <i class="fa fa-times"></i> 取消排序</a></li>

                                </ul>
                            </div>

                        </th>
                        <th scope="col" class="sortable">

                            <div class="pull-right">
                                <a class="toggle" href="?{% if year_join %}year_join={{ year_join }}{% endif %}{% if clas %}&clas={{ clas }}{% endif %}&grade=-grade{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">
                                    {% ifequal grade 'grade' %}
                                    <i class="fa fa-sort-up"></i>
                                    {% endifequal %}
                                </a>
                                <a class="toggle" href="?{% if year_join %}year_join={{ year_join }}{% endif %}{% if clas %}&clas={{ clas }}{% endif %}&grade=grade{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}">
                                    {% ifequal grade '-grade' %}
                                    <i class="fa fa-sort-down"></i>
                                    {% endifequal %}
                                </a>
                            </div>
                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    年级
                                </a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="?{% if year_join %}year_join={{ year_join }}{% endif %}{% if clas %}&clas={{ clas }}{% endif %}&grade=grade{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active"><i
                                            class="fa fa-caret-up"></i> 正序</a></li>

                                    <li><a href="?{% if year_join %}year_join={{ year_join }}{% endif %}{% if clas %}&clas={{ clas }}{% endif %}&grade=-grade{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active"><i
                                            class="fa fa-caret-down"></i> 倒序</a></li>

                                    <li {% if not grade %}style="display: none"{% endif %}><a href="?{% if year_join %}year_join={{ year_join }}{% endif %}{% if clas %}&clas={{ clas }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if all %}&all={{ all }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="active">
                                        <i class="fa fa-times"></i> 取消排序</a></li>

                                </ul>
                            </div>

                        </th>
                        <th scope="col" class="sortable">


                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                                    文理科
                                </a>
                            </div>

                        </th>
                        <th scope="col" class="sortable">


                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                                    电话
                                </a>
                            </div>

                        </th>
                        <th scope="col" class="sortable">
                            <div class="dropdown pull-left">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="text-decoration: none">
                                    宿舍号
                                </a>
                            </div>

                        </th>
                        <th scope="col">
                            &nbsp;
                        </th>
                    </tr>

                    </thead>


                    <tbody>
                    {% for student in student_page.object_list %}
                    <tr class="grid-item">

                        <td>
                            <a href="{% url 'teacher:teacher_studentinfo' %}?file_number={{ student.file_number }}">{{ student.file_number }}</a>
                        </td>

                        <td>
                            {{ student.student_name }}
                        </td>

                        <td>
                            {{ student.teacher.name }}
                        </td>

                        <td>
                            {{ student.get_gender_display }}
                        </td>

                        <td>
                            {{ student.year_join }}
                        </td>

                        <td class="nowrap">
                            {{ student.clas }}
                        </td>

                        <td class="nowrap">
                            {{ student.grade }}
                        </td>

                        <td>
                            {{ student.get_art_science_display }}
                        </td>

                        <td>
                            {{ student.phone }}
                        </td>
                        <td class="nowrap">
                            {{ student.dormitory_number }}
                        </td>
                        <td>


                            <div class="dropdown related_menu pull-right"><a title="关联数据"
                                                                             class="relate_menu dropdown-toggle"
                                                                             data-toggle="dropdown"><i
                                    class="icon fa fa-list"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="with_menu_btn"><a
                                            href="/xadmin/students/scoreinfo/?_rel_file_number__file_number__exact=998"
                                            title="成绩列表"><i class="icon fa fa-th-list"></i> 成绩列表</a><a
                                            class="add_link dropdown-menu-btn"
                                            href="/xadmin/students/scoreinfo/add/?_rel_file_number__file_number__exact=998"><i
                                            class="icon fa fa-plus pull-right"></i></a></li>
                                    <li class="with_menu_btn"><a
                                            href="/xadmin/students/rewardpunishinfo/?_rel_student__file_number__exact=998"
                                            title="奖惩管理"><i class="icon fa fa-th-list"></i> 奖惩管理</a><a
                                            class="add_link dropdown-menu-btn"
                                            href="/xadmin/students/rewardpunishinfo/add/?_rel_student__file_number__exact=998"><i
                                            class="icon fa fa-plus pull-right"></i></a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>


            </div>

            <div class="form-actions well well-sm">
{#                <input type="hidden" id="action" name="action" value=""/>#}
{#                <input type="hidden" id="select-across" name="select_across" value=""/>#}
{#                <div class="btn-group clearfix dropup">#}
{#                    <a class="dropdown-toggle btn btn-success" data-toggle="dropdown" href="#">#}
{#                        <i class="fa fa-wrench"></i>#}
{#                        <span class="caret"></span></a>#}
{#                </div>#}


                <script type="text/javascript">var _actions_icnt = "1";</script>
            </div>

        </form>

        <ul class="pagination">

            <li><span><span class="text-success">{{ student_queryset_count }}</span> 学生信息表</span></li>
            {% if student_page.has_previous %}
                <li><a href="?{{ class_list.previous_page_number.querystring }}">
                    上一页</a></li>
            {% endif %}
            {% for page in student_page.pages %}
                {% if page %}
                    {% ifequal page student_page.number %}
                        <li><span class="this-page">{{ page }}</span></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="dot-page"><a href="">...</a></li>
                {% endif %}
            {% endfor %}

            {% if student_page.has_next %}
                <li><a href="?{{ student_page.next_page_number.querystring }}">
                    下一页</a></li>
            {% endif %}
            <li>
                {% ifequal all '1' %}
                    <a href="?{% if year_join %}year_join={{ year_join }}{% endif %}{% if clas %}&clas={{ clas }}{% endif %}{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="showall">取消显示全部</a>
                {% else %}
                    <a href="?all=1{% if year_join %}year_join={{ year_join }}{% endif %}{% if clas %}&clas={{ clas }}{% endif %}{% if grade %}&grade={{ grade }}{% endif %}{% if grade_id %}&grade_id={{ grade_id }}{% endif %}{% if class_id %}&class_id={{ class_id }}{% endif %}{% if art_science %}&art_science={{ art_science }}{% endif %}{% if gender %}&gender={{ gender }}{% endif %}{% if q %}&q={{ q }}{% endif %}" class="showall">显示全部</a>
                {% endifequal %}
            </li>

        </ul>

    </div>
</div>


<div id="footer">
    <hr/>
    <footer class="text-center">
        <p>&copy; welcome to 温县第一高级中学后台管理 如果有问题请联系：XXXXXXXXXXX</p>
    </footer>
</div>


<script type="text/javascript" src="{% static 'js/jquery.ui.core.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.mouse.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.sortable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.responsive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.effect.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.plugin.themes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.plugin.details.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.plugin.bookmark.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.plugin.filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.plugin.actions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.page.list.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xadmin.page.form.js' %}"></script>


</body>
</html>
